.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.animalDisplay {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.animalCard {
  height: 350px;
  width: 250px;
  word-wrap: break-word;
  border: 1px black solid;
}

#adoptionHeader {
  width: 100%;
  text-align: center;
}

.picture {
  width: 250px;
  height: 250px;
}

