body {
  font-family: 'Playfair Display';
  background-color: rgb(245, 244, 244);
}

html {
  background-color: rgb(245, 244, 244);
}


.container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-animalDisplay {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 65%;
  border-left: 1px solid #6d6d6d;
  border-right: 1px solid #6d6d6d;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}


.container-animalCard {
  height: 450px;
  width: 250px;
  word-wrap: break-word;
  margin: 3px;
}

#adoptionHeader {
  width: 100%;
  text-align: center;
}

.picture {
  width: 248px;
  height: 248px;
}

#listHeader {
  text-align: center;
  border-bottom: 3px double rgb(66, 66, 66);
}

.card listPicture {
  width: 190px;
  height: 190px;
}

.container-listItem {
  width: 200px;
  height: auto;
  word-wrap: break-word;
}

.row {
  margin:0 -15px;
}
.col-xx-xx {
  padding:0 15px;
}
